.widget-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > div {
    flex: 1 1 12.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
    margin-right: 2rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    color: $blue-3;
    display: inline-block;
    padding: 0.3rem .5rem 0.3rem 0;
    &:hover,
    &:focus {
      color: $red-3;
    }
  }
  .footer-widget {
    color: $black;
    font-size: 14px;
    line-height: 1.3;
  }
  .widgettitle {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
  }
  .textwidget {
    > p {
      margin-top: 0;
    }
    a {
      display: inline;
      padding: 0;
    }
  }
}

.address-social {
  svg {
    fill: $blue-3;
    height: auto;
    width: 2.5rem;
    @media screen and (min-width: $small-width) and (max-width: $max-width) {
    } 
  }
  .footer-social-link {
    font-size: 2rem;

    i {
      vertical-align: top;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      vertical-align: middle;
      text-align: center;
      line-height: 33px;
      font-size: 20px;
      color:white;
      background-color: $blue-3;

      &:hover,
      &:focus {
        background-color: $grey-7; 
        svg {
          fill: $grey-7;
        }
      }
    }
    
  }
}


#menu-footer-block-links {
  a {
    @extend %btn-blue;
    display: block;
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }
}