.footer-lower-row {
  background-color: $grey-1;
  border-top: 1px solid $grey-3;
}

.lower-menu-container {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.lower-footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
  }
  a {
    color: $grey-7;
    display: inline-block;
    padding: .75rem 1rem;
    &:hover,
    &:focus {
      color: $blue-3;
    }
    &:first-of-type {
      padding-left: 0;
    }
  }
}