/*!*********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/sass/main.scss ***!
  \*********************************************************************************************************************************************************************/
/*
* Content path
*/
/*
* Sizes
*/
/*
* Theme Colors
* colors that are commented out were in the original site, but are likely not needed now.
*/
/*
* Theme Font Faces
*/
.uc-slate button, .btn, .btn.btn-border, .btn.btn-red, .btn.btn-blue-alt, #menu-footer-block-links a, .btn.btn-blue {
  cursor: pointer;
  border: 1px solid #000e2f;
  border-radius: 0;
  font-weight: 400;
  font-family: league-gothic, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.015em;
  line-height: 1.4;
  padding: 6px 0.75rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: break-spaces;
}

#menu-footer-block-links a, .btn.btn-blue {
  background-color: #000e2f;
  color: #ffffff;
}
#menu-footer-block-links a:hover, .btn.btn-blue:hover, #menu-footer-block-links a:focus, .btn.btn-blue:focus {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  color: #000e2f;
}

.btn.btn-blue-alt {
  background-color: #015999;
  color: #ffffff;
}
.btn.btn-blue-alt:hover, .btn.btn-blue-alt:focus {
  background-color: #e4002b;
  border: 1px solid #e4002b;
}

.btn.btn-red {
  background-color: #e4002b;
  color: #ffffff;
}
.btn.btn-red:hover, .btn.btn-red:focus {
  background-color: #A4CBE1;
  color: #000e2f;
}

.btn.btn-border {
  background-color: #000e2f;
  border: solid 1px #e4002b;
}
.btn.btn-border:hover, .btn.btn-border:focus {
  background-color: #a2aaad;
  color: #000e2f;
}
.btn.btn-border:hover *, .btn.btn-border:focus * {
  color: #000e2f;
}

#am-main-menu .current-menu-item, #am-main-menu a:hover, #am-main-menu a:focus {
  background-color: #015999;
}

#am-mobile-nav a:hover, #am-mobile-nav a:focus, #am-mobile-nav button:hover, #am-mobile-nav button:focus, #am-main-menu button:hover, #am-main-menu button:focus, .title-area-menu a:hover, .title-area-menu a:focus {
  background-color: #000e2f;
}

:root {
  --max-width: 75rem;
  --blue-1: #A4CBE1;
  --blue-2: #015999;
  --blue-3: #000e2f;
  --red-3: #e4002b;
  --cool-grey-1: #a2aaad;
  --cool-grey-2: #7c878e;
  --cool-grey-3: #6b7880;
  --grey-1: #eeeeee;
  --grey-2: #ebebeb;
  --grey-3: #cccccc;
  --grey-6: #777777;
  --grey-7: #555555;
  --grey-8: #333333;
  --white: #ffffff;
  --black: #000000;
  --blue-gradient: linear-gradient(164deg, rgba(124, 135, 142, 0.9) 0%, rgba(0, 14, 47, 0.8) 25%, rgba(0, 14, 47, 0.6) 65%, rgba(110, 0, 21, 0.8) 100%);
  --red-gradient: linear-gradient(164deg, rgba(110, 0, 21, 0.8) 0%, rgba(0, 14, 47, 0.6) 100%);
  --body-sans: Archivo, Proxima Nova, sans-serif;
  --monospace: Courier, monospace;
  --display-sans: league-gothic, sans-serif;
  --display-serif: DM Serif Display, Times, serif;
}

p,
.fl-rich-text *,
.fl-accordion * {
  line-height: 1.8;
  margin-top: 0;
}

a {
  color: #e4002b;
}
a:hover, a:focus {
  color: #6b7880;
}

blockquote {
  color: #015999;
  font-family: "DM Serif Display", Times, serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 2.25rem;
}

cite {
  color: #777777;
  font-style: italic;
}

small {
  font-size: 65%;
}

.btn.btn-lg {
  font-family: Archivo, "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1em;
  padding: 1rem;
}
.timestamp {
  font-family: league-gothic, sans-serif;
  font-size: 1.5rem;
}

h1,
.fl-rich-text h1 {
  font-family: "DM Serif Display", Times, serif;
  font-size: 60px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 36px;
  position: relative;
  z-index: 2;
}
h1:after,
.fl-rich-text h1:after {
  content: "";
  border-bottom: 2px solid #e4002b;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 25%;
  z-index: -1;
}
h1.alt:after,
.fl-rich-text h1.alt:after {
  bottom: -7px;
}

h2,
.fl-rich-text h2,
.uctc-table-title {
  font-family: league-gothic, sans-serif;
  font-size: 42px;
  letter-spacing: 0.015em;
  line-height: 1;
  text-transform: uppercase;
}

h2,
.fl-rich-text h2 {
  margin-bottom: 10px;
}

.uctc-table-title {
  margin-bottom: 36px;
}

h2,
.fl-rich-text h2 {
  margin-bottom: 10px;
}

h3,
.h3 {
  font-size: 1.17rem;
  font-weight: bold;
  margin-bottom: 0;
}

h4,
.h4 {
  font-size: 1.5rem;
  font-family: "DM Serif Display", Times, serif;
  margin-bottom: 0;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_thin_macroman/ProximaNova-Thin-webfont.eot") format("eot");
  src: url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_thin_macroman/ProximaNova-Thin-webfont.eot?iefix") format("eot"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_thin_macroman/ProximaNova-Thin-webfont.woff") format("woff"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_thin_macroman/ProximaNova-Thin-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_italic_macroman/ProximaNova-RegIt-webfont.eot");
  src: url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_italic_macroman/ProximaNova-RegIt-webfont.eot?#iefix") format("embedded-opentype"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_italic_macroman/ProximaNova-RegIt-webfont.svg#proxima_novaregular_italic") format("svg"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_italic_macroman/ProximaNova-RegIt-webfont.woff") format("woff"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_italic_macroman/ProximaNova-RegIt-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_regular_macroman/ProximaNova-Reg-webfont.eot");
  src: url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_regular_macroman/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_regular_macroman/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular") format("svg"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_regular_macroman/ProximaNova-Reg-webfont.woff") format("woff"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_regular_macroman/ProximaNova-Reg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_italic_macroman/ProximaNova-RegIt-webfont.eot") format("eot");
  src: url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_italic_macroman/ProximaNova-RegIt-webfont.eot?iefix") format("eot"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_italic_macroman/ProximaNova-RegIt-webfont.woff") format("woff"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_italic_macroman/ProximaNova-RegIt-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot") format("eot");
  src: url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot?iefix") format("eot"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.woff") format("woff"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_bold_macroman/proximanova-bold-webfont.eot");
  src: url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_bold_macroman/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_bold_macroman/proximanova-bold-webfont.svg#proxima_nova_ltsemibold") format("svg"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_bold_macroman/proximanova-bold-webfont.woff") format("woff"), url("//ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts/proximanova_bold_macroman/proximanova-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: fallback;
}
.container.sidebar-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.container.sidebar-container aside {
  margin-right: 1rem;
  margin-top: 2.5rem;
}
@media screen and (min-width: 62rem) {
  .container.sidebar-container {
    padding: 1rem;
  }
}

.sidebar-row {
  display: none;
  flex: 1;
}
.sidebar-row ul {
  list-style-type: none;
  padding: 0;
}
@media screen and (min-width: 62rem) {
  .sidebar-row {
    display: block;
  }
}

.sidebar-content-row {
  flex: 3;
}

#sidebar-menu {
  font-family: Courier, monospace;
}
#sidebar-menu li {
  display: none;
}
#sidebar-menu .current-menu-parent {
  border-top: 1px solid #777777;
  display: block;
}
#sidebar-menu .current-menu-parent li {
  display: block;
}
#sidebar-menu a {
  border-bottom: 1px solid #777777;
  color: #000e2f;
  display: block;
  padding: 1rem;
  text-decoration: none;
}
#sidebar-menu a:hover, #sidebar-menu a:focus {
  background-color: #ebebeb;
}
#sidebar-menu ul a {
  padding-left: 2rem;
}

.container {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 1rem;
}

.fl-accordion-small .fl-accordion-item {
  border-color: #555555;
}
.fl-accordion-small .fl-accordion-content {
  padding: 15px 30px 10px 15px;
}
.fl-accordion-small .fl-accordion-button {
  display: block;
  padding: 0;
}
.fl-accordion-small .fl-accordion-button-label {
  color: #555555;
  display: inherit;
  font-weight: 600;
  padding: 0.75rem 1rem;
  position: relative;
}
.fl-accordion-small .fl-accordion-button-label:after {
  content: "\f067";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 1rem;
}
.fl-accordion-small .fl-accordion-button-label:focus, .fl-accordion-small .fl-accordion-button-label:hover {
  background-color: #555555;
  color: white;
}
.fl-accordion-small .fl-accordion-button-icon {
  display: none;
}
.fl-accordion-small .fl-accordion-button-icon-right, .fl-accordion-small .fl-accordion-button-icon-left {
  opacity: 1;
}
.fl-accordion-small .fl-accordion-button[aria-expanded=true] .fl-accordion-button-label:after {
  content: "\f068";
}

.btn,
.btn.btn-blue,
.btn.btn-blue-alt,
#menu-footer-block-links a {
  border-radius: 0;
}

.fl-builder-content a.fl-button {
  border-radius: 0;
}

.fl-module.btn {
  padding: 0;
  width: 100%;
}
.fl-module.btn .fl-module-content {
  margin: 0;
}
.fl-module.btn .fl-button {
  border: 1px solid transparent;
  background-color: transparent;
  padding: 1.5rem 1rem;
}

.uc-callout-button {
  font-family: league-gothic, sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  letter-spacing: 0.025em;
  line-height: 1;
  text-align: left;
}
.uc-callout-button .fl-button-wrap a.fl-button {
  background-color: #000e2f;
  border: 1px solid #000e2f;
  display: block;
  height: 10.375rem;
  padding: 1rem;
}
.uc-callout-button .fl-button-wrap a.fl-button:hover, .uc-callout-button .fl-button-wrap a.fl-button:focus {
  background-color: #7c878e;
  border-color: #6b7880;
}
.uc-callout-button .fl-button-wrap a.fl-button .fl-button-text {
  color: #ffffff;
  display: flex;
  font-size: 2.25rem;
  line-height: 1;
}
.uc-callout-button .fl-button-wrap a.fl-button .fl-button-text:before {
  content: "\f105";
  color: #e4002b;
  font-family: "Font Awesome 5 Free";
  font-size: 1.875rem;
  font-weight: 900;
  margin-right: 0.375rem;
}

ul[id^=sidebar_navigation] .menu-item > a {
  font-family: Courier, monospace;
  padding: 1rem;
  text-transform: none;
}
ul[id^=sidebar_navigation] .menu-item.current-menu-ancestor > a[href="#"] {
  display: none;
}
ul[id^=sidebar_navigation] .sub-menu a {
  padding-left: 2rem;
}

.card {
  margin: 20px;
}
.card .fl-col-content {
  background-color: #ffffff;
  border: solid 1px #eeeeee;
}
.card .fl-col-content .fl-button-text {
  font-family: league-gothic, sans-serif;
  letter-spacing: 0.015em;
}

.videobanner {
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.videobanner > header {
  background: inherit;
  background-attachment: fixed;
  overflow: hidden;
  padding: 20px 10px;
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
}
.videobanner > header:before {
  content: "";
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  height: 200%;
  position: absolute;
  top: -20px;
  left: 0;
  width: 200%;
}
.videobanner > header:after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videobanner > header > p {
  margin: 0;
  color: #ffffff;
  position: relative;
  z-index: 1;
  text-align: left;
}
.videobanner .btn {
  background-color: #e4002b;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 10px;
  padding: 14px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.videobanner .btn:hover, .videobanner .btn:focus {
  background-color: #6b7880;
  color: #ffffff;
}
.videobanner .time {
  color: #a2aaad;
}

table.table, table.schedule {
  border-collapse: collapse;
  width: 100%;
}
table.schedule tbody {
  vertical-align: baseline;
}
table.schedule tbody tr td:first-child {
  font-family: league-gothic, sans-serif;
  min-width: 6.25rem;
  width: 20%;
}
table.schedule tbody tr td:last-child {
  width: 80%;
}

.fl-rich-text table.schedule * {
  line-height: 1.5;
}

.table th {
  padding: 1rem;
  text-align: left;
}

.fl-slide-title,
.fl-slide-text h1 {
  line-height: 1;
}

@media (min-width: 769px) and (max-width: 1100px) {
  .fl-slide .fl-slide-foreground .fl-slide-content-wrap {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text h1 {
    font-family: "DM Serif Display", Times, serif;
    font-size: 35px !important;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text h1:after {
    border: none;
  }
}
.deadline-callout {
  flex: 1;
}

.deadline-title {
  flex-grow: 0;
}

.deadline-info-container {
  padding: 2rem 1.5rem 1rem;
}

#uctc-form label {
  font-weight: bold;
}
#uctc-form select {
  appearance: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
}
#uctc-form > div + div {
  margin-top: 1.5rem;
}
#uctc-form thead {
  text-align: left;
}
#uctc-form tbody tr:nth-child(odd), #uctc-form tbody tr:hover {
  background-color: #eeeeee;
}
#uctc-form th,
#uctc-form td {
  border: 1px solid #cccccc;
  padding: 0.5rem;
}
#uctc-form .uctc-table-title {
  margin-bottom: 1rem;
}
#uctc-form .select-loaded .uctc-select-wrapper {
  position: relative;
}
#uctc-form .select-loaded .uctc-select-wrapper:after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  right: 0.5rem;
  top: -3px;
}
#uctc-form .uctc-table {
  border-collapse: collapse;
  display: table;
  width: 100%;
}

div[id^=form_page].form_page {
  display: flex;
  font-size: 1rem;
  flex-wrap: wrap;
}
div[id^=form_page] > div {
  padding: 1rem;
}
div[id^=form_page] div[data-export="sys:first"],
div[id^=form_page] div[data-export="sys:last"] {
  flex: 1 1 auto;
  margin: 0 1rem;
  padding: 0;
}
div[id^=form_page] div[data-export="sys:first"] input,
div[id^=form_page] div[data-export="sys:last"] input {
  width: 100%;
}
div[id^=form_page] fieldset {
  display: flex;
  flex-wrap: wrap;
}
div[id^=form_page] fieldset > div {
  padding: 0 1rem;
}
div[id^=form_page] fieldset > div:nth-of-type(2) {
  flex-basis: 100%;
}
div[id^=form_page] fieldset > div:nth-of-type(3),
div[id^=form_page] fieldset > div:nth-of-type(4) {
  flex: 1 1 auto;
}
div[id^=form_page] fieldset input,
div[id^=form_page] fieldset select {
  width: 100%;
}
div[id^=form_page] div[data-export="sys:address"],
div[id^=form_page] div[data-export="sys:birthdate"],
div[id^=form_page] div[data-export="sys:email"],
div[id^=form_page] div[data-export="sys:email2"] {
  flex: 1 0 100%;
  margin: 0;
}
div[id^=form_page] div[data-export="sys:address"],
div[id^=form_page] div[data-export="sys:birthdate"] {
  padding: 1rem 0;
}
div[id^=form_page] div[data-export="sys:email"],
div[id^=form_page] div[data-export="sys:email2"] {
  padding: 0 1rem !important;
}
div[id^=form_page] div[data-export="sys:birthdate"] {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
div[id^=form_page] div[data-export="sys:birthdate"] fieldset {
  flex: 1;
}
div[id^=form_page] div[data-export="sys:birthdate"] fieldset > div {
  display: flex;
  flex-wrap: wrap;
}
div[id^=form_page] div[data-export="sys:birthdate"] fieldset div:nth-of-type(2) {
  padding: 0;
}
div[id^=form_page] div[data-export="sys:birthdate"] select {
  flex: 1 1 200px;
  margin: 0 1rem 1rem !important;
}
div[id^=form_page] input,
div[id^=form_page] select {
  background-color: #000e2f;
  border: 1px solid transparent;
  border-bottom: 1px solid #e4002b;
  color: #ffffff;
  font-size: inherit;
  width: 100%;
}
div[id^=form_page] input:internal-autofill-selected,
div[id^=form_page] select:internal-autofill-selected {
  background-color: #000e2f !important;
  color: #ffffff !important;
}
div[id^=form_page] select {
  padding: 0.4rem 0;
}
div[id^=form_page] .form_label {
  color: #eeeeee;
}
div[id^=form_page] .form_responses {
  display: block;
  margin: 0.5rem 0 1rem 0;
}

.uc-slate button {
  background-color: #eeeeee;
  color: #000e2f;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
.uc-slate button:hover, .uc-slate button:focus {
  background-color: #e4002b;
  color: #ffffff;
}

.cwo-item-text {
  width: 100%;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 14, 47, 0.8);
  background: -webkit-linear-gradient(164deg, rgba(124, 135, 142, 0.8) 0%, rgb(0, 14, 47) 24%, rgba(110, 0, 21, 0.8) 100%);
  background: -o-linear-gradient(164deg, rgba(124, 135, 142, 0.8) 0%, rgb(0, 14, 47) 24%, rgba(110, 0, 21, 0.8) 100%);
  background: -moz-linear-gradient(164deg, rgba(124, 135, 142, 0.8) 0%, rgb(0, 14, 47) 24%, rgba(110, 0, 21, 0.8) 100%);
  background: linear-gradient(164deg, rgba(124, 135, 142, 0.8) 0%, rgb(0, 14, 47) 24%, rgba(110, 0, 21, 0.8) 100%);
}

.cwo-item-container:hover .cwo-item-text {
  background: rgb(0, 14, 47);
}

hr {
  border-style: solid;
  border-width: 0 0 1px 0;
  color: #a2aaad;
}

.bg-blue-1 {
  background-color: #A4CBE1;
}
.bg-blue-2 {
  background-color: #015999;
}
.bg-blue-3 {
  background-color: #000e2f;
}
.bg-red-3 {
  background-color: #e4002b;
}
.bg-cool-grey-1 {
  background-color: #a2aaad;
}
.bg-cool-grey-2 {
  background-color: #7c878e;
}
.bg-grey-1 {
  background-color: #eeeeee;
}
.bg-grey-2 {
  background-color: #ebebeb;
}
.bg-grey-3 {
  background-color: #cccccc;
}
.bg-grey-6 {
  background-color: #777777;
}
.bg-grey-7 {
  background-color: #555555;
}
.bg-grey-8 {
  background-color: #333333;
}
.bg-red-dot-parallax {
  background-attachment: fixed;
  background-image: url(images/red-square-dots.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto;
}
.bg-red-dot-right-bottom {
  position: relative;
}
.bg-red-dot-right-bottom:after {
  content: "";
  position: absolute;
  background-image: url(images/red-square-dots.png);
  background-repeat: round;
  bottom: -2.25rem;
  height: 5rem;
  right: 0;
  visibility: hidden;
  width: 400px;
}
@media screen and (min-width: 48rem) {
  .bg-red-dot-right-bottom:after {
    visibility: visible;
  }
}
.bg-blue-gradient {
  background-color: #A4CBE1;
  background: linear-gradient(164deg, rgba(124, 135, 142, 0.9) 0%, rgba(0, 14, 47, 0.8) 25%, rgba(0, 14, 47, 0.6) 65%, rgba(110, 0, 21, 0.8) 100%);
}
.bg-red-gradient {
  background-color: #A4CBE1;
  background: linear-gradient(164deg, rgba(110, 0, 21, 0.8) 0%, rgba(0, 14, 47, 0.6) 100%);
}

.text-white * {
  color: #ffffff;
}
.text-white a:hover, .text-white a:focus {
  color: #e4002b;
}
.text-uppercase * {
  text-transform: uppercase;
}

.bodysans {
  font-family: Archivo, "Proxima Nova", sans-serif;
}

.displaysans {
  font-family: league-gothic, sans-serif;
}

.displayserif {
  font-family: "DM Serif Display", Times, serif;
}

.monospace {
  font-family: Courier, monospace;
}

.fl-builder-content .text-white .fl-button:visited {
  color: #ffffff;
}
.fl-builder-content .text-white .fl-button * {
  color: #ffffff;
}

.icon-blue-1 i {
  color: #A4CBE1;
}
.icon-blue-2 i {
  color: #015999;
}
.icon-blue-3 i {
  color: #000e2f;
}
.icon-red-3 i {
  color: #e4002b;
}
.icon-cool-grey-1 i {
  color: #a2aaad;
}
.icon-cool-grey-2 i {
  color: #7c878e;
}
.icon-grey-1 i {
  color: #eeeeee;
}
.icon-grey-2 i {
  color: #ebebeb;
}
.icon-grey-3 i {
  color: #cccccc;
}
.icon-grey-6 i {
  color: #777777;
}
.icon-grey-7 i {
  color: #555555;
}
.icon-grey-8 i {
  color: #333333;
}

.image-border-white img, .image-border-red img {
  border-style: solid;
  border-width: 2px;
  padding: 0.4rem;
}

.border-white, .border-red {
  border-style: solid;
  border-width: 1px;
}

.border-red {
  border-color: #e4002b;
}
.border-white {
  border-color: #ffffff;
}

.border-fix {
  margin: 20px;
}

.image-border-red img {
  border-color: #e4002b;
}
.image-border-white img {
  border-color: #ffffff;
}

.position-align {
  position: relative;
}
.position-align .align-bottom {
  bottom: 0;
  position: absolute;
}
.position-align .align-top {
  position: absolute;
  top: 0;
}

.error404 main,
.search-results main,
.search-no-results main {
  margin-bottom: 5rem;
}
.error404 main .container,
.search-results main .container,
.search-no-results main .container {
  max-width: 50rem;
}
.error404 article,
.search-results article,
.search-no-results article {
  overflow: auto;
  margin: 2rem auto;
}

.moretag {
  background-color: #000e2f;
  color: #ffffff;
  display: table;
  font-family: Archivo, "Proxima Nova", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 0.65rem 0;
  padding: 0.75rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.moretag:hover, .moretag:focus {
  background-color: #e4002b;
  color: #ffffff;
}

#error-page-form-wrapper form,
#search-page-form-wrapper form {
  background-color: #eeeeee;
  display: flex;
}
#error-page-form-wrapper input[type=search],
#search-page-form-wrapper input[type=search] {
  font-size: 1rem;
  flex: 1;
  padding: 1rem;
  border: 1px solid transparent;
  background-color: transparent;
}
#error-page-form-wrapper button[type=submit],
#search-page-form-wrapper button[type=submit] {
  border: 1px solid transparent;
  background-color: transparent;
  padding-right: 1rem;
}
#error-page-form-wrapper button[type=submit] svg,
#search-page-form-wrapper button[type=submit] svg {
  height: 1.3rem;
  width: 1.3rem;
}
@media screen and (min-width: 30rem) {
  #error-page-form-wrapper input[type=search],
  #search-page-form-wrapper input[type=search] {
    font-size: 2rem;
  }
  #error-page-form-wrapper button[type=submit] svg,
  #search-page-form-wrapper button[type=submit] svg {
    height: 2rem;
    width: 2rem;
  }
}

#mobile-nav-container input[type=search] {
  background-color: #cccccc;
  border: 1px solid transparent;
  color: #000e2f;
  flex: 1;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
#mobile-nav-container input[type=search]::placeholder {
  color: #000e2f;
}
#mobile-nav-container button[type=submit] {
  background-color: #cccccc;
  border: 1px solid transparent;
}
#mobile-nav-container .search-container {
  margin: 2rem 0;
}
#mobile-nav-container .search-icon {
  display: block;
  margin-top: 5px;
}

.banner-row {
  background-color: #000e2f;
}
.banner-row + section {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}
@media screen and (min-width: 62rem) {
  .banner-row + section {
    padding-bottom: 0;
  }
}

#uconn-header-container {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 1rem;
}

#uconn-banner {
  margin: 0 auto;
  max-width: 1260px;
}
#uconn-banner .row-container {
  padding-left: unset !important;
  padding-right: unset !important;
}
#uconn-banner .row-fluid {
  max-width: 75rem;
}
#uconn-banner #uconn-search-tooltip {
  right: 27px;
}
#uconn-banner #uconn-search:hover + div:not(.popup-container), #uconn-banner #uconn-search:focus + div:not(.popup-container),
#uconn-banner #uconn-az:hover + div:not(.popup-container),
#uconn-banner #uconn-az:focus + div:not(.popup-container) {
  top: 45px;
}
#uconn-banner.alternative #button-container .icon-container > div {
  z-index: 1000;
}
#uconn-banner.alternative #button-container .icon-container a,
#uconn-banner.alternative #button-container .icon-container button {
  white-space: normal;
}
#uconn-banner.alternative #button-container #icon-container-mobile-menu {
  display: none;
}

.header-row {
  background-color: #015999;
}
.header-row ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header-row a,
.header-row button {
  font-family: Courier, monospace;
  font-size: 16px;
}
.header-row a {
  color: #eeeeee;
  display: inline-block;
  padding: 16px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
}
.header-row .site-name-container a {
  font-family: Archivo, "Proxima Nova", sans-serif;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  white-space: normal;
}
.header-row .site-name-container .site-parent {
  font-size: 14px;
  text-transform: uppercase;
}
.header-row .site-name-container .site-parent:hover, .header-row .site-name-container .site-parent:focus {
  text-decoration: underline;
}
.header-row .site-name-container .site-title {
  display: block;
  font-size: 20px;
  margin-top: 8px;
}

.upper-header-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.upper-header-container ul {
  display: flex;
}

.menu-title-area-menu-container {
  align-items: center;
  display: flex;
}

#main-nav-menu {
  display: none;
}
@media screen and (min-width: 62rem) {
  #main-nav-menu {
    display: block;
  }
}

@media screen and (min-width: 62rem) {
  #am-main-menu {
    display: flex;
    flex-wrap: wrap;
  }
}
#am-main-menu,
#am-main-menu ul {
  list-style-type: none;
  padding: 0;
}
#am-main-menu a {
  white-space: normal;
}
#am-main-menu .current-menu-ancestor > button {
  background-color: #000e2f;
}
#am-main-menu button {
  background-color: transparent;
  border: 1px solid transparent;
  color: #eeeeee;
  cursor: pointer;
  padding: 8px 18px;
}
#am-main-menu button[aria-expanded=true] {
  background-color: #000e2f;
}
#am-main-menu > li {
  padding: 16px 0;
}
#am-main-menu li {
  position: relative;
}
#am-main-menu li ul {
  background-color: #000e2f;
  height: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  visibility: hidden;
}
#am-main-menu li ul .menu-item-has-children .am-submenu-toggle,
#am-main-menu li ul .menu-item-has-children .am-submenu-list {
  display: none;
}
#am-main-menu li .am-submenu-list-open {
  height: auto;
  left: 0%;
  opacity: 1;
  visibility: visible;
  z-index: 8;
}
#am-main-menu li .am-submenu-list-open a {
  white-space: nowrap;
}

.am-submenu-icon {
  margin-left: 0.5rem;
  pointer-events: none;
  vertical-align: middle;
}

#title-area-menu {
  display: none;
}
@media screen and (min-width: 62rem) {
  #title-area-menu {
    display: flex;
  }
}

.mobile-nav-menu-wrapper ul {
  display: block;
}

.mobile-trigger-container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 62rem) {
  .mobile-trigger-container {
    display: none;
  }
}
.mobile-trigger-container button {
  background-color: transparent;
  border: 1px solid transparent;
  color: #eeeeee;
  font-family: Archivo, "Proxima Nova", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.mobile-nav-upper {
  display: flex;
}
.mobile-nav-upper a {
  white-space: normal;
}

#mobile-nav-container {
  background-color: #eeeeee;
  display: none;
  position: absolute;
  top: 13.125rem;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 1rem;
  overflow-y: scroll;
  padding: 1rem;
  z-index: 1000;
}
#mobile-nav-container.open {
  display: flex;
  flex-direction: column;
}
#mobile-nav-container hr {
  border: 1px solid #e4002b;
  margin: 1rem;
}
#mobile-nav-container form {
  display: flex;
}
#mobile-nav-container button {
  color: #000e2f;
  font-size: 1rem;
  padding: 0 1rem;
}

#mobile-nav-menu {
  flex: 1;
}

#am-mobile-nav button {
  background-color: transparent;
  border: 1px solid transparent;
  color: #000e2f;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
}
#am-mobile-nav button:hover, #am-mobile-nav button:focus {
  color: #eeeeee;
}
#am-mobile-nav li ul {
  display: none;
  margin-top: -1rem;
}
#am-mobile-nav li ul > li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#am-mobile-nav li ul > li a {
  flex: 1 0 0;
}
#am-mobile-nav li ul > li button {
  flex: 0 1 0;
  margin: 0;
  width: unset;
}
#am-mobile-nav li ul > li ul {
  flex: 1 1 100%;
}
#am-mobile-nav li ul > li ul a {
  margin-top: 1rem;
  padding-left: 4rem;
}
#am-mobile-nav li .am-submenu-list-open {
  display: block;
}
#am-mobile-nav a {
  color: #000e2f;
  padding-left: 2rem;
}
#am-mobile-nav a:hover, #am-mobile-nav a:focus {
  color: #eeeeee;
}

#mobile-title-menu {
  width: 100%;
}
#mobile-title-menu a {
  color: #000e2f;
  width: 100%;
}
#mobile-title-menu a:hover, #mobile-title-menu a:focus {
  color: #eeeeee;
}

footer {
  padding-top: 2.5rem;
}

.footer-upper-row > div {
  margin-top: 1rem;
}

.widget-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.widget-container > div {
  flex: 1 1 12.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.widget-container > div:last-of-type {
  margin-right: 0;
}
.widget-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.widget-container a {
  color: #000e2f;
  display: inline-block;
  padding: 0.3rem 0.5rem 0.3rem 0;
}
.widget-container a:hover, .widget-container a:focus {
  color: #e4002b;
}
.widget-container .footer-widget {
  color: #000000;
  font-size: 14px;
  line-height: 1.3;
}
.widget-container .widgettitle {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
}
.widget-container .textwidget > p {
  margin-top: 0;
}
.widget-container .textwidget a {
  display: inline;
  padding: 0;
}

.address-social svg {
  fill: #000e2f;
  height: auto;
  width: 2.5rem;
}
.address-social .footer-social-link {
  font-size: 2rem;
}
.address-social .footer-social-link i {
  vertical-align: top;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  line-height: 33px;
  font-size: 20px;
  color: white;
  background-color: #000e2f;
}
.address-social .footer-social-link i:hover, .address-social .footer-social-link i:focus {
  background-color: #555555;
}
.address-social .footer-social-link i:hover svg, .address-social .footer-social-link i:focus svg {
  fill: #555555;
}

#menu-footer-block-links a {
  display: block;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.footer-lower-row {
  background-color: #eeeeee;
  border-top: 1px solid #cccccc;
}

.lower-menu-container {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.lower-footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.lower-footer-menu li {
  display: inline-block;
}
.lower-footer-menu a {
  color: #555555;
  display: inline-block;
  padding: 0.75rem 1rem;
}
.lower-footer-menu a:hover, .lower-footer-menu a:focus {
  color: #000e2f;
}
.lower-footer-menu a:first-of-type {
  padding-left: 0;
}

* {
  box-sizing: border-box;
}

body {
  color: #000e2f;
  font-family: Archivo, "Proxima Nova", sans-serif;
  font-size: 16px;
  margin: 0;
}

.screen-reader {
  position: absolute;
  left: -9999px;
}

.skip-nav {
  background-color: #eeeeee;
  padding: 16px;
}
.skip-nav:focus {
  color: #000e2f;
  left: 32px;
  top: 32px;
}

/*# sourceMappingURL=index.css.map*/