p,
.fl-rich-text *,
.fl-accordion * {
  line-height: 1.8;
  margin-top: 0;
}

a {
  color: $red-3;
  &:hover,
  &:focus {
    color: $cool-grey-3;
  }
}

blockquote {
  color: $blue-2;
  font-family: $display-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 2.25rem;
}

cite {
  color: $grey-6;
  font-style: italic;
}

small {
  font-size: 65%;
}

.btn {
  @extend %btn;
  &.btn-lg {
    font-family: $body-sans;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1em;
    padding: 1rem;
  }
  &.btn-blue {
    @extend %btn-blue;
  }
  &.btn-blue-alt {
    @extend %btn-blue-alt;
  }
  &.btn-red {
    @extend %btn-red;
  }
  &.btn-border {
    @extend %btn-border;
  }
}

.timestamp {
  font-family: $display-sans;
  font-size: 1.5rem;
}