h1,
.fl-rich-text h1 {
  font-family: $display-serif;
  font-size: 60px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 36px;
  position: relative;
  z-index: 2;
  &:after {
    content: '';
    border-bottom: 2px solid $red-3;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 25%;
    z-index: -1;
  }
  &.alt:after {
    bottom: -7px;
  }
}

h2,
.fl-rich-text h2,
.uctc-table-title {
  font-family: $display-sans;
  font-size: 42px;
  letter-spacing: .015em;
  line-height: 1;
  text-transform: uppercase;
}

h2,
.fl-rich-text h2 {
  margin-bottom: 10px;
}

.uctc-table-title {
  margin-bottom: 36px;
}

h2,
.fl-rich-text h2 {
  margin-bottom: 10px;
}

h3,
.h3 {
  font-size: 1.17rem;
  font-weight: bold;
  margin-bottom: 0;
}

h4,
.h4 {
  font-size: 1.5rem;
  font-family: $display-serif;
  margin-bottom: 0;
}