.container.sidebar-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  aside {
    margin-right: 1rem;
    margin-top: 2.5rem;
  }
  @media screen and (min-width: $standard-width) {
    padding: 1rem;
  }
}

.sidebar-row {
  display: none;
  flex: 1;
  ul {
    list-style-type: none;
    padding: 0;
  }
  @media screen and (min-width: $standard-width) {
    display: block;
  }
}

.sidebar-content-row {
  flex: 3;
}

#sidebar-menu {
  font-family: $monospace;
  li {
    display: none;
  }
  .current-menu-parent {
    border-top: 1px solid $grey-6;
    display: block;
    & li {
      display: block;
    }
  }
  a { 
    border-bottom: 1px solid $grey-6;
    color: $blue-3;
    display: block;
    padding: 1rem;
    text-decoration: none;
    &:hover,
    &:focus {
      background-color: $grey-2;
    }
  }
  ul {
    a {
      padding-left: 2rem;
    }
  }
}