// overrides for the uconn-banner plugin styles.
// mostly this ensures alignment with the overall theme.

.banner-row {
  background-color: $blue-3;
  + section {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    @media screen and (min-width: $standard-width) {
      padding-bottom: 0;
    }
  }
}

#uconn-header-container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 1rem;
}

#uconn-banner {
  margin: 0 auto;
  max-width: 1260px;
  .row-container {
    padding-left: unset !important;
    padding-right: unset !important;
  }
  .row-fluid {
    max-width: $max-width;
  }
  #uconn-search-tooltip {
    right: 27px;
  }
  #uconn-search,
  #uconn-az {
    &:hover,
    &:focus {
      + div:not(.popup-container) {
        top: 45px;
      }
    }
  }
  &.alternative {
    #button-container {
      .icon-container {
        > div {
          z-index: 1000;
        }
        a,
        button {
          white-space: normal;
        }
      }
      #icon-container-mobile-menu {
        display: none;
      }
    }
  }
}
