#main-nav-menu {
  display: none;
  @media screen and (min-width: $standard-width) {
    display: block;
  }
}

#am-main-menu {
  @media screen and (min-width: $standard-width) {
    display: flex;
    flex-wrap: wrap;
  }
  &,
  ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    white-space: normal;
    &:hover,
    &:focus {
      @extend %header-bg-highlight;
    }
  }
  button {
    &:hover,
    &:focus {
      @extend %header-bg-lowlight;
    }
  }
  .current-menu-item {
    @extend %header-bg-highlight;
  }
  .current-menu-ancestor {
    > button {
      background-color: $blue-3;
    }
  }
  button {
    background-color: transparent;
    border: 1px solid transparent;
    color: $grey-1;
    cursor: pointer;
    padding: 8px 18px;
    &[aria-expanded=true] {
      background-color: $blue-3;
    }
  }
  > li {
    padding: 16px 0;
  }
  li {
    position: relative;
    ul {
      background-color: $blue-3;
      height: 0;
      opacity: 0;
      position: absolute;
      top: 100%;
      visibility: hidden;
      .menu-item-has-children {
        .am-submenu-toggle,
        .am-submenu-list {
          display: none;
        }
      }
    }
    .am-submenu-list-open {
      height: auto;
      left: 0%;
      opacity: 1;
      visibility: visible;
      z-index: 8;
      a {
        white-space: nowrap;
      }
    }
  }
}

.am-submenu-icon {
  margin-left: 0.5rem;
  pointer-events: none;
  vertical-align: middle;
}

#title-area-menu {
  display: none;
  @media screen and (min-width: $standard-width) {
    display: flex;
  }
}