.header-row {
  background-color: $blue-2;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  a,
  button {
    font-family: $monospace;
    font-size: $base-font-size;
  }
  a {
    color: $grey-1;
    display: inline-block;
    padding: $base-font-size;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
  }
  .site-name-container {
    a {
      font-family: $body-sans;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
      white-space: normal;
    }
    .site-parent {
      font-size: 14px;
      text-transform: uppercase;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
    .site-title {
      display: block;
      font-size: 20px;
      margin-top: 8px;
    }
  }
}

.upper-header-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  ul {
    display: flex;
  }
}

.menu-title-area-menu-container {
  align-items: center;
  display: flex;
}

.title-area-menu {
  a {
    &:hover,
    &:focus {
      @extend %header-bg-lowlight
    }
  }
}

