.fl-accordion-small {
  .fl-accordion-item {
    border-color: $grey-7;
  }
  .fl-accordion-content {
    padding: 15px 30px 10px 15px;
  }
  .fl-accordion-button {
    display: block;
    padding: 0;
    &-label {
      color: $grey-7;
      display: inherit;
      font-weight: 600;
      padding: .75rem 1rem;
      position: relative;
      &:after {
        content: '\f067';
        display: inline-block;
        font-family: $font-awesome-5;
        position: absolute;
        right: 1rem;
      }
      &:focus,
      &:hover {
        background-color: $grey-7;
        color: white;
      }
    }
    &-icon {
      display: none;
    }
    &-icon-right,
    &-icon-left {
      opacity: 1;
    }
    &[aria-expanded="true"] {
      .fl-accordion-button-label {
        &:after {
          content: '\f068';
        }
      }
    }
  }
}



