.cwo-item-text {
    width: 100%;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0,14,47,.8);
    background: -webkit-linear-gradient(
164deg
,rgba(124,135,142,0.8) 0%,rgb(0,14,47) 24%,rgba(110,0,21,0.8) 100%);
    background: -o-linear-gradient(164deg,rgba(124,135,142,0.8) 0%,rgb(0,14,47) 24%,rgba(110,0,21,0.8) 100%);
    background: -moz-linear-gradient(164deg,rgba(124,135,142,0.8) 0%,rgb(0,14,47) 24%,rgba(110,0,21,0.8) 100%);
    background: linear-gradient(
164deg
,rgba(124,135,142,0.8) 0%,rgb(0,14,47) 24%,rgba(110,0,21,0.8) 100%);
}

.cwo-item-container:hover .cwo-item-text {
    background: rgba(0,14,47,1);
}