div[id^="form_page"] {
  &.form_page {
    display: flex;
    font-size: 1rem;
    flex-wrap: wrap;
  }
  > div {
    padding: 1rem;
  }
  div[data-export="sys:first"],
  div[data-export="sys:last"] {
    flex: 1 1 auto;
    margin: 0 1rem;
    padding: 0;
    input {
      width: 100%;
    }
  }
  fieldset {
    display: flex;
    flex-wrap: wrap;
    > div {
      padding: 0 1rem;
    }
    > div:nth-of-type(2) {
      flex-basis: 100%;
    }
    > div:nth-of-type(3),
    > div:nth-of-type(4) {
      flex: 1 1 auto;
    }
    input,
    select {
      width: 100%;
    }
  }
  div[data-export="sys:address"],
  div[data-export="sys:birthdate"],
  div[data-export="sys:email"],
  div[data-export="sys:email2"] {
    flex: 1 0 100%;
    margin: 0;
  }
  div[data-export="sys:address"],
  div[data-export="sys:birthdate"] {
    padding: 1rem 0;
  }
  div[data-export="sys:email"],
  div[data-export="sys:email2"] {
    padding: 0 1rem !important;
  }
  div[data-export="sys:birthdate"] {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    fieldset {
      flex: 1;
      > div {
        display: flex;
        flex-wrap: wrap;
      }
      div:nth-of-type(2) {
        padding: 0;
      }
    }
    select {
      flex: 1 1 200px;
      margin: 0 1rem 1rem !important;
    }
  }
  input,
  select {
    background-color: $blue-3;
    border: 1px solid transparent;
    border-bottom: 1px solid $red-3;
    color: $white;
    font-size: inherit;
    width: 100%;
    &:internal-autofill-selected {
      background-color: $blue-3 !important;
      color: $white !important;
    }
  }
  select {
    padding: 0.4rem 0;
  }
  .form_label {
    color: $grey-1;
  }
  .form_responses {
    display: block;
    margin: 0.5rem 0 1rem 0;
  }
}

.uc-slate {
  button {
    @extend %btn;
    background-color: $grey-1;
    color: $blue-3;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-left: 2rem;
    margin-top: 0.5rem;
    &:hover,
    &:focus {
      background-color: $red-3;
      color: $white;
    }
  }
}