ul[id^="sidebar_navigation"] {
  .menu-item {
    > a {
      font-family: $monospace;
      padding: 1rem;
      text-transform: none;
    }
    &.current-menu-ancestor {
      > a[href="#"] {
        display: none;
      }
    }
  }
  .sub-menu {
    a {
      padding-left: 2rem;
    }
  }
}