table {
  &.table,
  &.schedule {
    border-collapse: collapse;
    width: 100%;
  }
  &.schedule {
    tbody {
      vertical-align: baseline;
      tr {
        td:first-child {
          font-family: $display-sans;
          min-width: 6.25rem;
          width: 20%;
        }
        td:last-child {
          width: 80%;
        }
      }
    }
  }
}

.fl-rich-text {
  table {
    &.schedule {
      * {
        line-height: 1.5;
      }
    }
  }
}

.table {
  th {
    padding: 1rem;
    text-align: left;
  }
}