.videobanner {
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  > header {
    background: inherit;
    background-attachment: fixed;
    overflow: hidden;
    padding: 20px 10px;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    &:before {
      content: "";
      background: inherit;
      background-attachment: fixed;
      -webkit-filter: blur(4px);
      filter: blur(4px);
      height: 200%;
      position: absolute;
      top: -20px;
      left: 0;
      width: 200%;
    }
    &:after {
      content: "";
      background: rgba(0,0,0,0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    > p {
      margin: 0;
      color: $white;
      position: relative;
      z-index: 1;
      text-align: left;
    }
  }
  .btn {
    background-color: $red-3;
    border: none;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    font-size: 16px;
    line-height: 10px;
    padding: 14px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    &:hover,
    &:focus {
      background-color: $cool-grey-3;
      color: $white;
    }
  }
  .time {
    color: $cool-grey-1;
  }
}