div[id*="social-widget"].open {
  margin-left: -200px;
}

div[id*="social-widget"] .widget-form-wrapper {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div[id*="social-widget"] .label-wrapper {
  flex: 1;
}

div[id*="social-widget"] .field-wrapper {
  flex: 3;
}

div[id*="social-widget"] .field-wrapper * {
  width: 100%;
}

div[id*="social-widget"] .icon-preview-container {
  background-repeat: no-repeat;
  height: 2rem;
} 


div[id*="social-widget"] i {
  font-size: 2rem;
}

